<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>RODO</title>
</head>
<main layout:fragment="content">
    <h2>Administratorem Państwa danych osobowych jest Firma Przykładowa.</h2>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut ullamcorper eu diam sed volutpat. Suspendisse id
        enim blandit, hendrerit nisl non, maximus dui. Duis condimentum facilisis hendrerit. Fusce id accumsan lacus.
        Nunc blandit augue eu faucibus blandit. Nulla eget mauris ac quam gravida cursus ac quis magna. In ut augue
        eros.
    </p>
    <p>
        Maecenas luctus velit euismod mollis rhoncus. Duis eget nisl vitae tellus dapibus efficitur. Aenean malesuada
        magna vel tincidunt cursus. Suspendisse fringilla blandit pretium. Etiam condimentum vulputate lacinia.
        Suspendisse non dignissim orci. Fusce ut risus eros. Proin sagittis lectus quis neque pulvinar iaculis. Nunc id
        nulla id ligula sollicitudin laoreet vitae id lectus. In odio magna, ultrices id odio sit amet, pellentesque
        ullamcorper tortor. Aenean eu tortor varius, pharetra enim eu, accumsan neque. Etiam purus ante, vehicula non
        blandit at, dictum vitae quam. Nullam consectetur tortor sed lectus dictum placerat. Phasellus aliquet nulla
        odio, eu dignissim quam ullamcorper ac. Curabitur nec nunc vitae metus venenatis porttitor. Praesent iaculis leo
        et sapien dignissim, eu mattis ante ornare.
    </p>
</main>
</html>